@model IEnumerable<OmerKurtaran.WebUI.Models.Etiket>

    <div class="sidebox widget">
        <h3 class="widget-title section-title">Etiketler</h3>
        <ul class="tag-list">
            @foreach (OmerKurtaran.WebUI.Models.Etiket etiket in Model)
            {
                <li><a href="#">@etiket.Adi (@etiket.Makales.Count)</a></li>
            }

        </ul>
        <!-- /.tag-list -->

    </div>