
@{
    ViewBag.Title = "AnaSayfa";
}
<h2>ana sayfaaaa</h2>
@section Kategoriler{
    @{
        Html.RenderAction("KategoriWidget", "Home");
    }
}
@section Etiketler{
    @{
        Html.RenderAction("EtiketWidget", "Etiket");
    }

}

@section Arama{
    <div class="sidebox widget">
        <h3 class="widget-title section-title">Ara</h3>
        <form class="searchform" method="get">
            <label><i class="icon-search"></i></label>
            <input type="text" id="s2" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Buraya yazınız'" />
            <button type="submit" class="btn">Ara</button>
        </form>
    </div>
}
@section SiteHakkinda{
    @{
        Html.RenderPartial("SiteHakkinda");
    }
}
@section PopulerMakaleler{
    @{ 
        Html.RenderAction("PopulerMakalelerWidget", "Home");
    }
    }